.container header {
    background-color: #300FD9;
}
.container header nav {
    background-color: #CB1AD5;
}
.container #hero {
    background-image: url(%E8%9E%A2%E5%B9%95%E6%93%B7%E5%8F%96%E7%95%AB%E9%9D%A2%202025-11-20%20150354.png);
}
.container #about {
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(41,54,193,1.00) 4.66%,rgba(40,55,193,1.00) 10.36%,rgba(0,255,211,1.00) 94.30%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(41,54,193,1.00) 4.66%,rgba(40,55,193,1.00) 10.36%,rgba(0,255,211,1.00) 94.30%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(41,54,193,1.00) 4.66%,rgba(40,55,193,1.00) 10.36%,rgba(0,255,211,1.00) 94.30%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(41,54,193,1.00) 4.66%,rgba(40,55,193,1.00) 10.36%,rgba(0,255,211,1.00) 94.30%);
}
